body{
  font-family: arial;
  color: whitesmoke;
  background-color: greenyellow;
  font-size: 30pt;
  padding: 0px 5px;
  margin: 0px 20px;
}

p {
      margin-top: 25px;
}

.info {
  margin-top: 10px;
}
.column-middle {
  cursor: pointer;
}

ul {
  margin-top: 25px;
}

.column {
  float: left;
}

li:hover {
  color: dimgrey;
}

.left{
  width: 13%;
}

.right {
  width: 4%;
}

.middle {
  width: 75%;
  cursor: pointer;
}

ul{
  list-style: none;
}


@media screen and (max-width: 600px) {
 
body {
  font-size: 13pt;
  margin: 10px;
}

.middle {
  width: 60%;
}

.left{ 
  width: 18%;
}
}