@font-face {
  font-family: 'AMDAL-Regular';
  src: url('AMDAL-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('AMDAL-Regular.woff') format('woff'); /* Pretty Modern Browsers */
}

body{
font-family: 'AMDAL-Regular';
background-color: #bfba8a;
color: grey;
}

a {
	color: gainsboro;
  text-decoration: none;
}

.tt {
	color: chartreuse;
    animation: color-change 2s infinite;
    animation-duration: 7s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: color-change;
}
@keyframes color-change {
   0% {
    color:chartreuse;
   }

   15% {
   	color: thistle;
   }

   25% {
   	color: whitesmoke;
   }

   50% {
   	color: papayawhip;
   }

   100% {
     color:grey;
   }

}

.text {
  position: fixed;
  z-index: 1;
  top: 0em;
  margin-left: 5px;
  font-size: 0.93em;
  line-height: 1.2em;
}

.oh {
	color: pink;
    animation: color-change 3s infinite;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: color-changee;
}
@keyframes color-changee {
   0% {
    color:pink;
   }

   15% {
   	color: yellow;
   }

   25% {
   	color: purple;
   }

   50% {
   	color: coral;
   }

   100% {
     color:hotpink;
   }

}

.aa {
  color: pink;
    animation: color-change 5s infinite;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: color-changee;
}
@keyframes color-changee {
   0% {
    color:mediumpurple;
   }

   15% {
    color: khaki;
   }

   25% {
    color: springgreen;
   }

   50% {
    color: sandybrown;
   }

   100% {
     color:honeydew;
   }

}

img {
	width: 80%;
  margin-bottom: 20px;
}

.img {
  display: flex;
	flex-direction: column;
	column-gap: 10px;
	position: relative;
	top: 5px;
  padding-left: 5px;
}

.img span{
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255,255,255,.8);
}
}

.img:hover span{

}

.one{
	padding-top: 70px;
	padding-bottom: 20em;
  padding-right:20px;
  z-index:-20;
  width: 98%
}

.gallery {
  z-index: 20;
  width: 82%;
  margin-bottom: 1.3em;
}

.slider {
    width: 50%;
    text-align: center;
    z-index: 20;
}

.slider .photos {
    position: relative;
    height: 433px;
}

.slider .photos img {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    padding-bottom: 2em;
/*    transition: opacity 1s;*/
}

.slider .photos img.shown {
    opacity: 1;
}

.prev:before,
.next:before {
    color: transparent;
    font-size: 30em;
    position: absolute;
    top: -8%;
    cursor: pointer;
}

.prev:before {
  content: '.';
  left: 0;
}

.next:before {
  content: '.';
  right: 0;
}


@media only screen and (max-width: 600px) {
  body {
  max-height: 1400px;
  }

 .text {
    font-size: 1.12em;
    position: absolute;
    max-width: 22em;
    top: 17em;
    padding-bottom: 2em;
  }

.img {
    display: flex;
    flex-direction: column;
    /* column-gap: 10px; */
    position: relative;
    /* top: 5px; */
    padding-left: 0;
    margin-left: 0;
}

.one{
  display: none;
/*  position: relative;
  width: 232%;
  transform: rotate(-90deg);
  padding-bottom: 30em;*/
}

.slider {
    width: 96%;
    margin-left: 0;
    position: fixed;
    top: 1em;
    z-index: 20;
    padding-left: 0;
}

.slider .photos {
  display: flex;
justify-content: center;
    height: 264px;
}

.prev:before, .next:before {
  font-size: 17em;
}

}
