@font-face {
  font-family: 'AMDAL-Regular';
  src: url('fonts/AMDAL-Regular.woff2') format('woff2'),
    url('fonts/AMDAL-Regular.woff') format('woff');
}

body {
  font-family: 'AMDAL-Regular', sans-serif;
  background-color: #29281c;
  color: grey;
  margin-left: 20px;
  margin-top: 15px;
  overflow: hidden;
}

/* listen */
.listen {
  position: fixed;
  right: 3%;
  margin-top: 15px;
  text-align: right;
  z-index: 10000;
  color: rgb(236, 130, 91);
  cursor: pointer;
}

.mixes {
  position: relative;
  display: none;
  color: dimgray;
  padding-left: 5px;
}

.mixes a {
  color: mediumpurple;
}

.mixes a:hover {
  color: rgb(236, 130, 91);
}

/* additional */
.purple {
  color: mediumpurple;
}

.no-break {
  white-space: nowrap;
}

.mobile-info {
  display: none;
}

/* content */
.content {
  display: flex;
}

.content .text {
  width: 50%;
}

.content .img {
  width: 49%;
  /* z-index: -920; */
}

a {
  color: gainsboro;
  text-decoration: none;
}

a:hover {
  color: rgb(236, 130, 91);
}

/* text selection */
::-moz-selection {
  /* Code for Firefox */
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
/* slider */

.slides {
  display: flex;
  justify-content: center;
}

.slides img {
  width: auto;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 999;
  /* cursor: help; */
}

.slider-1 {
  position: relative;
  margin-top: 134px;
  width: 100%;
  height: 100vh;
  max-height: 60vh;
}

.shown {
  opacity: 1 !important;
}

.caption {
  position: relative;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 28vh;
  opacity: 0;
  /* transition: opacity 0.5s; */
}

/* prev next buttons */
.buttons {
  position: relative;
  z-index: 900;
  display: flex;
  justify-content: space-between;
  padding-top: 30vh;
  color: dimgrey;
  font-size: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  font-style: italic;
}

/* link animations */
.tracks {
  color: chartreuse;
  animation: color-change 2s infinite;
  animation-duration: 7s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: color-change;
}
@keyframes color-change {
  0% {
    color: chartreuse;
  }

  15% {
    color: thistle;
  }

  25% {
    color: whitesmoke;
  }

  50% {
    color: papayawhip;
  }

  100% {
    color: grey;
  }
}

.oh {
  color: pink;
  animation: color-change 3s infinite;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: color-changee;
}
@keyframes color-changee {
  0% {
    color: pink;
  }

  15% {
    color: yellow;
  }

  25% {
    color: purple;
  }

  50% {
    color: coral;
  }

  100% {
    color: hotpink;
  }
}

.aa {
  color: pink;
  animation: color-change 5s infinite;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: color-changee;
}
@keyframes color-changee {
  0% {
    color: mediumpurple;
  }

  15% {
    color: khaki;
  }

  25% {
    color: springgreen;
  }

  50% {
    color: sandybrown;
  }

  100% {
    color: honeydew;
  }
}


.prev:before,
.next:before {
  color: transparent;
  font-size: 40em;
  position: fixed;
  top: 10%;
  width: 345px;
  height: 450px;
  z-index: 999999;
  content: '.';
}

.prev:before {
  left: 700px;
}

.next:before {
  right: 43px;
}

/* mobile view */

@media only screen and (max-width: 600px) {
  body {
    overflow:scroll;
  }
  .content {
    display: flex;
    flex-direction: column-reverse;
    margin-left: -6px;
  }

  .slider-1 {
    margin-top: 51px;
    width: 100%;
    height: 36vh;
    max-height: 32vh;
  }

  .slides img {
  height: 31%;
  position: fixed;
  z-index: 20;
  }

 .content .text {
  width: 97%;
  margin-left: 2px;
  margin-top: 12px;
 }

 .content .img {
  width: 95%;
 }

 .buttons {
  padding-top: 31vh;
 }

 .mobile-info {
  display: block;
 }

 .no-break {
  display: none;
}

.prev:before,
  .next:before {
    width: 180px;
    height: 200px;
    top: 10%;
    z-index: 999999;
    content: '.';
  }

  .prev:before {
    left: 5px;
  }

  .next:before {
    right: 5px;
  }

}
